*{
margin:0;
padding:0;
}

.card{
    margin-left: 250px;
}

body{
    font-family: 'Roboto';
}
   #form{
            background-color: #fff;
            border: 2px solid #007BFF;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 200px;
            margin-left: 50%;

        }
        .label {
            display: block;
            margin: 10px 0 5px;
        }
        .botton {
            width: 50%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .button {
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            width: 50%;
            margin left: 50%;
        }
        .button:hover {
            background-color: #0056b3;
        }

.botao{
    text-align: center;
}

footer {
    background-color: #1a1d24; /* Azul escuro */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    height:300px;
}

footer ul {
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0; /* Remove padding */
}

footer ul li {
    display: inline; /* Itens em linha */
    margin: 0 10px; /* Margem entre os itens */
}

footer a {
    color: white; /* Cor dos links */
    text-decoration: none; /* Remove sublinhado */
}

footer a:hover {
    color: #61dafb; /* Cor ao passar o mouse */
}
