{% extends 'base.html' %}
{% block conteudo %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <h1>CADASTRO</h1>
    <br><br>
<div class="botao">
  <form class="form" action="/cadastrarUsuario" method="POST">
    <label>CPF:</label>
    <input class="botton" type="text" name="cpf" id="cpf"/> <br> <br>

    <label>Nome:</label>
    <input class="botton" type="text" name="nome" id="nome"/> <br> <br>

    <label>Telefone:</label>
    <input class="botton" type="text" name="telefone" id="telefone"/> <br> <br>

     <label>Endereço:</label>
    <input class="botton" type="text" name="endereco" id="endereco"/> <br> <br>

   <button class="btn btn-outline-dark">CADASTRAR</button>
  </form>
<br><br>

    <a class="btn btn-primary" href="/listar" role="button">Consultar tudo</a>
    <a class="btn btn-primary" href="/listarIndividual" role="button">Consultar individual</a>
    <a class="btn btn-primary" href="/atualizar" role="button">Atualizar</a>
    <a class="btn btn-primary" href="/excluir" role="button">Excluir</a>
  </div>



{% endblock %}