{% extends 'base.html' %}
{% block conteudo %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <form class="form" action="/listarIndividual" method="POST">
    <label>CPF:</label>
    <input class="botton" type="text" name="cpf" id="cpf"/> <br> <br>

    <label>Nome:</label>
    <input class="botton" type="text" name="nome" id="nome"/> <br> <br>

    <label>Telefone:</label>
    <input class="botton" type="text" name="telefone" id="telefone"/> <br> <br>

     <label>Endereço:</label>
    <input class="botton" type="text" name="endereco" id="endereco"/> <br> <br>
       <a class="btn btn-primary">Consultar individual</a>
  </form>
<br><br>





{% endblock %}